*{
    padding: 0;
    border: 0;
}
.title{
    background-color: blue;
    color: white;
    height: 60px;
    left: 0%;
    border-radius: 10px;
    
}
.title h1{
    padding-top: 10px;
    margin-left: 10px;

}
container{
    padding: 10px;
   
    
    
}
.box{
    background-color: black;
    color: white;
    width: 19%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    height: 250px;
    margin: 30px;
    overflow:auto;
    text-overflow: ellipsis;
    
    
}
.box h1{
    color: yellow;
}
.box button{
    background-color: red;
    color: yellow;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 2px;
    margin-top: 10px;
    overflow: hidden;
}
.plus{
    background-color: blue;
    color: white;
    font-size: 40px;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    


}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: blue;
    position: absolute;
    width: 40%;
    top: 20%;
    left: 30%;
    border-radius: 10px;
    padding: 40px;
    z-index: 2;
    display: none;
    
    
}
.popup-box input{
    background-color: transparent;
    border: none;
    padding: 5px;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box textarea{
    background-color: transparent;
    padding: 5px;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    border: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
}
.popup-box input:focus{
    outline: none
}
.popup-box textarea:focus{
    outline: none;
}
#cancel-popup{
    cursor: pointer;
}
#add-book{
    cursor: pointer;
}
#delete-item{
    cursor: pointer;
}
#container{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    overflow: hidden;
}

